@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato";
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c2d2b;
}

img {
  user-select: none;
}

.headers {
  font-family: Cormorant Garamond, sans-serif;
  line-height: 32px;
  font-size: 38px;
}

section {
  padding: 0 24px;
}

.mono {
  font-family: Roboto Mono;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX();
  }
}

.scroll {
  overflow: hidden;
  white-space: nowrap;
}

.scroll::after,
.scroll::before {
  content: "";
  height: 100%;
  width: 60px;
  position: absolute;
  z-index: 1;
}

.scroll::after {
  right: 0;
  top: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #2c2d2b);
}

.scroll:before {
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #2c2d2b);
}

.scroll-slide {
  display: flex;
  align-items: center;
  animation: slide 30s infinite linear;
  opacity: 70%;
}

.scroll-slide img {
  margin: 0 20px;
}

.copy p {
  flex-basis: 50%;
  margin-bottom: 1.2rem;
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 750px) {
  .headers {
    font-size: 4.3rem;
    line-height: 55px;
  }
}

@media (min-width: 976px) {
  .headers {
    font-size: 6rem;
    line-height: 60px;
  }
}
